*
!.dockerignore
!LICENSE
!THIRD-PARTY-NOTICES.md
!build/
!src/
!build/Dockerfile
!build/Dockerfile.refresh
!build/Dockerfile.sdrplay
!build/Dockerfile.sdrplay-ui
!build/op25-audio-origin.patch
!build/rtl-usb-retry.patch
!build/requirements.txt
!build/build_rr_key_helper.py
!build/install_sdrplay_payload.py
!src/importer.py
!src/rr_key.py
!src/library.py
!src/profile_transfer.py
!src/test_connection.py
!src/container_receiver.py
!src/brutal_ui.py
!src/brutal_runtime.py
!src/brutal_supervisor.py
!src/brutal-ui.css
!src/brutal-systems.js
!src/brutal-tuning.js
!src/brutal-logo.png
!src/hardware_check.py
!src/receiver_readiness.py
!src/brutal_cli.py
!src/terminal_art.py
!src/terminal_menu.py
!src/rsp_receiver.py
